################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Alura.Loja/Alura.Loja.Testes.ConsoleApp
/Alura.Loja/.vs/Alura.Loja
/EF Core/.vs/EF Core/v16
